<!-- calendar.html -->
{% extends 'base.html' %}

{% block title %}カレンダー{% endblock %}

{% block content %}
{% load static %}
<style>

      .toppage img{
         width: 100%;
         position: relative;
         
        }

        .text-overlay {
            position: absolute;
            top: 40%; /* 上からの位置 */
            left: 42%; /* 左からの位置 */
            background-color: white;
            opacity: 0.6; 
            color: black; /* テキストの色 */
            padding: 20px;
            border-radius: 10px;
            text-align: center;
            font-size: 30px;
            font-weight: bolder;
        }

        .heading{
            font-size: 30px;
            font-weight: bold;
            border-left: solid 8px #51c257;
            margin: 20px 0px 0px 20px;
            padding: 0px 0px 0px 10px;

        }

        table {
            width: 80%;
            border-collapse: collapse;
            margin: 0px auto;
        }
        th, td {
            border: 1px solid #333;
            padding: 8px;
            text-align: center;
            vertical-align: center;
            width: 100px;
            height: 60px;
        }

        td{
            height: 40px;
        }
        .occupied {
            background-color: #add8e6;  /* イベントがあるセルを水色で表示 */
        }

</style>


    <div class="toppage">
      <img src="{% static 'calendarapp/images/background1.jpeg' %}" alt="トップ画像">
       <div class="text-overlay">
          予約案内
       </div>
    
    </div>
    <div class="heading">予約状況</div>



    <h1>今日から10日分のイベント</h1>
    <table>
        <thead>
            <tr>
                <th>日付</th>
                {% for hour in hour_range %}
                    <th>{{ hour }}:00</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for day in date_range %}
                <tr>
                    <td>{{ day|date:"Y/m/d" }}</td>
                    {% for hour in hour_range %}
                        {% comment %}
                        まずは該当セルにイベントがあるかチェック
                        {% endcomment %}
                        {% with cell_has_event=False %}
                            {% for event in events %}
                                {% if event.start_time.date == day and event.start_time.hour == hour %}
                                    {% with cell_has_event=True %}
                                    {% endwith %}
                                {% endif %}
                            {% endfor %}

                            <td class="{% if cell_has_event %}occupied{% endif %}">
                                {% if cell_has_event %}
                                    {% for event in events %}
                                        {% if event.start_time.date == day and event.start_time.hour == hour %}
                                            <strong>{{ event.title }}</strong><br>
                                            {{ event.start_time|date:"H:i" }} - {{ event.end_time|date:"H:i" }}<br>
                                            {{ event.description }}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </td>
                        {% endwith %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="heading">予約申請</div>
    <!--<h2>イベント一覧</h2>-->
    
    <!--<ul>
        {% for event in events %}
            <li>{{ event.start_time }} - {{ event.end_time }}: {{ event.title }}</li>
        {% endfor %}
    </ul>-->
{% endblock %}
