{% extends 'base.html' %}

{% block title %}当院について{% endblock %}



{% block content %}
{% load static %}
<style>
   .contents_container{
      width: 100%;
      display: flex;
      justify-content: center;
   }
   .contents_box{
      width:280px;
      height: 210px;
      border: solid 1px black;
      margin: 10px 20px;
      text-align: center;
   }
   .contents_box img{
      width: 100%;
      margin-bottom: 15px;
   }
   .contents_box:hover{
      opacity: 0.6;
   }
   .contents_box_title{
      font-size: 20px;
      font-weight: bold;
   }


   

   

</style>

<body>
   <div class="toppage">
      <img src="{% static 'calendarapp/images/detail_1.JPG' %}" alt="トップ画像">
       <div class="text-overlay">
          当院について
       </div>
   </div>

   <div class="directory_box">
      <a href="{% url 'home' %}" ><div class="directory_item">アキラ整体トップ</div></a>
      <img src="{% static 'calendarapp/images/arrow3.png' %}" alt="矢印" class="directory_img">
      <div class="directory_item1">当院について</div>
   </div>

   <div class="space"></div>

   <div class="contents_container">
      <a href="{% url 'profile' %}" >
         <div class="contents_box">
            <img src="{% static 'calendarapp/images/profile_photo_1.JPG' %}" alt="サムネイル1" >
            <div class="contents_box_title">当院からのメッセージ</div>
   
         </div>
      </a>
      <a href="{% url 'moca' %}" >
            <div class="contents_box">
               <img src="{% static 'calendarapp/images/moca_image_1.jpeg' %}" alt="サムネイル2" >
               <div class="contents_box_title">整体カフェMOCAについて</div>
      
            </div>
      </a>
   
      <a href="{% url 'syuttyou' %}" >
         <div class="contents_box">
            <img src="{% static 'calendarapp/images/syuttyou.jpeg' %}" alt="サムネイル3" >
            <div class="contents_box_title">出張について</div>
   
         </div>
      </a>
   </div>

   <div class="contents_container">
      <a href="{% url 'contact' %}" >
         <div class="contents_box">
            <img src="{% static 'calendarapp/images/otoiawase_1.jpg' %}" alt="サムネイル4" >
            <div class="contents_box_title">お問い合わせ</div>
   
         </div>
      </a>

      <a href="{% url 'faq' %}" >
         <div class="contents_box">
            <img src="{% static 'calendarapp/images/question.jpeg' %}" alt="サムネイル5" >
            <div class="contents_box_title">質問＆回答</div>
   
         </div>
      </a>

      <a href="{% url 'notice_all' %}" >
         <div class="contents_box">
            <img src="{% static 'calendarapp/images/osirase_1.jpeg' %}" alt="サムネイル6" >
            <div class="contents_box_title">お知らせ一覧</div>
   
         </div>
      </a>
      
   </div>

  

</body>

{% endblock %}