{% extends 'base.html' %}

{% block title %}ホーム{% endblock %}

{% block content %}
{% load static %}

   <style>
      body {
          margin: 0; /* マージンをリセット */
          padding: 0; /* パディングをリセット */
          scroll-behavior: smooth;
      }   

      .osirase{
         position: absolute;
         font-weight: bold;
         padding: 0px 10px;
         text-decoration: none;
         color: black;
      }

      .osirase:hover{
        color: gray;

      }

      .container {
          display: flex; /* 横並びにするためにフレックスボックスを使用 */
          justify-content: center;
          align-items: center; /* 中央に揃える */
          background-color: #4dba52; /* 背景色 */
          padding: 20px 60px 10px 0px; /* 内側のパディング */
          position: relative; /* 相対位置 */
          
      }

      .notice-box {
          width: 120px; /* お知らせボックスの幅 */
          height: 20px; /* お知らせボックスの高さ */
          background-color: white;
          padding: 10px; /* 内側のパディング */
          position: relative;
          margin-right: 20px;
          border-radius: 10px;
          
      }

      .scrolling-container {
          display: flex;
          width: 600px; /* テキストボックスの幅 */
          height: 40px; /* テキストボックスの高さ */
          overflow: hidden; /* はみ出した部分を隠す */
          position: relative; /* 相対位置 */
          background-color: #ffffff; /* 背景色 */
          padding: 0px;          
      }

      .scrolling-content {
          white-space: nowrap; /* テキストを改行しない */
          position: absolute; /* 絶対位置 */
          animation: scroll 17s linear infinite; /* アニメーション */
          display: flex;
          padding: 0px;
      }

      .scrolling-content img {
            height: 35px; /* 画像の高さを設定 */
            margin-right: 10px; /* テキストとの間にマージン */
            padding-top: 2px;
        }

      .newstext {
          padding-top: 10px;
          font-size: 17px;
      }


      @keyframes scroll {
          0% {
              transform: translateX(250%); /* 右端から開始 */
          }
          100% {
              transform: translateX(-100%); /* 左端へ */
          }
      }

      .background-block {
          position: absolute; /* 絶対位置 */
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #44a549; /* 色付きの背景 */
          z-index: -1; /* 背景として配置 */
      }

      .toppage img{
         width: 100%;
         position: relative;
      }

      .text-overlay {
            position: absolute;
            top: 40%; /* 上からの位置 */
            left: 30%; /* 左からの位置 */
            background-color: white;
            opacity: 0.6; 
            color: black; /* テキストの色 */
            padding: 20px;
            border-radius: 10px;
            text-align: center;
            font-size: 20px;
            font-weight: bolder;
        }

    
     .active-schedule-container{
        display: flex;
        justify-content: center;
     }

     .active-schedule-box{
        width: 350px;
        height: 320px;
        border: solid 2px #44a549;
        font-size: large;
        margin: 20px 15px;
        border-radius: 12px;
     }

     .intro-active{
        display: flex;
        font-size: 25px;
        justify-content: center;
        color: black;
        margin: 50px auto 10px auto;
     }

     .intro-active1{
        font-size: 29px;        
        color: #44a549;
        font-weight: bold;
        margin: 0px 5px 0px 5px;

     }

     .title{
        font-size: 22px;
        color: white;
        background-color: #51c257;
        border-radius: 30px;
        text-align: center;
        padding: 10px;
        margin: 10px 50px;
     }

     .title1{
        font-size: 18px;
        color: black;
        text-align: left;
        font-weight: bold;
        margin: 20px 30px;
     }


     .title2{
        font-size: 22px;
        color: #38893c;
        text-align: center;
        font-weight: bold;
        margin: 10px 30px 0px 30px;
        padding-bottom: 20px;
        border-bottom: solid 1.5px rgba(128, 128, 128, 0.53);
     }

     .title3{
        font-size: 22px;
        color: #38893c;
        text-align: center;
        font-weight: bold;
        margin: 10px 30px 0px 30px;
     }

     .notice-section{
        width: 250px;
        height: 320px;
        font-size: large;
        border: solid 1.5px gray;
        margin: 20px 15px;
        border-radius: 12px;
        background-color: rgb(240, 240, 240);
        position: relative;
     }

     .notice-section img{
        width: 100%;
        border-radius: 10px;
        opacity: 0.7;
     }

     .notice-section1{
        width: 500px;
        height: 300px;
        border: solid 1.5px gray;
        margin: 10px;
     }

     .moca-content{
        position: absolute;
        top: 39%;
        left: 60%;
        background-color: white;
        opacity: 0.7;
        font-weight: bold;
        border-radius: 4px;
        padding: 2px 10px;
     }

     .moca-content1{
        display: flex;
        font-size: 16px;
        margin-left: 5px;
     }

     .moca-content1-text{
        font-size: 16px;
        margin-left: 5px;
        margin-top: 30px;
     }

     .moca-content1 img{
        width: 12%;
        margin-top: 20px;
     }

     .moca-content2{
        text-align: right;
        margin-right: 10px;
     }


     .moca-content2 img{
        width: 12%;
        border-radius: 6px;
     }

     .osirase-title{
        top: 0%;
        left: -70%;
        white-space: nowrap;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        margin: 70px 0px 0px 0px
     }

     .osirase-title-box{
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        border-bottom:solid 2px #51c257;
        margin: 10px 600px;
     }

     .notice-list {
            width: 80%;
            background-color: rgb(240, 240, 240);
            padding: 20px; 
            margin: auto;
            justify-content: left;
            margin-bottom: 100px;
        }
     .notice-item {
            margin-bottom: 20px;
            padding-left: 100px;
            padding-bottom: 10px;
            display: flex;
            justify-content: left;
            border-bottom: dashed 1.5px gray;

        }
     .notice-date {
            font-size: 18px;
            font-weight: bold;
            color: #333;
            margin-right: 30px;
        }
     .notice-title {
            font-size: 18px;
        }
     .notice-content {
        font-size: 18px; 
        }

     



      

      
  </style>

 <body>
  <div class="container">
      <div class="notice-box">
          <a href="#notice">
             <div class="osirase">お知らせ一覧</div>
          </a>
      </div>
      <div class="scrolling-container">
          <div class="scrolling-content">
                <img src="{% static 'calendarapp/images/newslogo.png' %}" alt="新着">
                <div class="newstext">ここに新着のお知らせを入れる</div>
          </div>
      </div>
      <div class="background-block"></div> <!-- 色付きのブロック -->
  </div>
  <div class="toppage">
     <img src="{% static 'calendarapp/images/TopPagePhoto.jpeg' %}" alt="トップ画像">
      <div class="text-overlay">
         ここにインパクトのあるフレーズ(活動の信念)
      </div>
     
  </div>

  <div class="intro-active">
     当院では、
     <div class="intro-active1">整体カフェMOCA</div>
     での施術と
     <div class="intro-active1">出張</div>
     での施術をご用意しています
  </div>

  <div class="active-schedule-container">
     <div class="notice-section">
         <img src="{% static 'calendarapp/images/moca_image.jpeg' %}" alt="カフェモカ">
         <div class="moca-content">
            ご案内
         </div>
         <div class="moca-content1">〒649-0101</div>
         <div class="moca-content1">和歌山県海南市下津町下津3066</div>
         <div class="moca-content1">
             <img src="{% static 'calendarapp/images/train.svg' %}" alt="電車">
             <div class="moca-content1-text">JR下津駅から徒歩1分</div>
         </div>
         <div class="moca-content2">
             <a href="https://www.instagram.com/seitaicafe_moca/" target="_blank">
                 <img src="{% static 'calendarapp/images/insta_logo.jpg' %}" alt="電車">
             </a>
         </div>
         


     </div>
     <div class="active-schedule-box">
        <div class="title">
            整体カフェMOCA
        </div>
        <div class="title1">
            営業時間
        </div>
        <div class="title2">
            10:00 ~ 16:00
        </div>
        <div class="title1">
            営業日
        </div>
        <div class="title3">
            火、木、土
        </div>

     </div>
     <div class="active-schedule-box">
        <div class="title">
            出張診療
        </div>
        <div class="title1">
            営業時間
        </div>
        <div class="title2">
            ご要望に合わせて
        </div>
        <div class="title1">
            営業日
        </div>
        <div class="title3">
            月、水、金、日
        </div>
        
     </div>
  </div>

  <div id="notice" class="osirase-title">お知らせ</div>
  <div class="osirase-title-box"></div>


    <div class="notice-list">
        {% for notice in notices %}
        <div class="notice-item">
            <div class="notice-date">{{ notice.date|date:"Y/m/d" }}</div>
            <a href="{% url 'notice_detail' notice.pk %}">
                <div class="notice-title">{{ notice.title }}</div>
            </a>
        </div>
        {% endfor %}
    </div>

  
</body>

{% endblock %}

