{% extends 'base.html' %}

{% block title %}プロフィール{% endblock %}



{% block content %}
{% load static %}
<style>
    .notice-list {
        width: 80%;
        background-color: rgb(240, 240, 240);
        padding: 20px; 
        margin: auto;
        justify-content: left;
        margin-bottom: 100px;
    }
    .notice-item {
        margin-bottom: 20px;
        padding-left: 100px;
        padding-bottom: 10px;
        display: flex;
        justify-content: left;
        border-bottom: dashed 1.5px gray;
    }
    .notice-image img{
        width: 100%;
    }
    .notice-title{
        font-size: 32px;
        font-weight: bold;
        border-left: solid 6px #44a549;
        padding-left: 10px;
        margin: 10px 10px 30px 10px;
    }
    .notice-title1{
        font-size: 18px;
    }
    .notice-box{
        width: 70%;
        background-color: rgb(240, 240, 240);
    }
    .notice-date {
        font-size: 18px;
        font-weight: bold;
        color: #333;
        margin-right: 30px;
    }
    .space_detail{
        width: 100%;
        height: 80px;
    }



    @media (max-width: 600px){
        .notice-item {
            margin-bottom: 10px;
            padding-left: 20px;
            padding-bottom: 10px;
        }
        .notice-date {
            font-size: 13px;
            font-weight: bold;
            color: #333;
            margin-right: 20px;
        }
        .notice-title1{
            font-size: 11px;
        }
    }
    @media (min-width: 601px) and (max-width: 1000px){
        .notice-item {
            margin-bottom: 10px;
            padding-left: 20px;
            padding-bottom: 10px;
        }
        .notice-date {
            font-size: 15px;
            font-weight: bold;
            color: #333;
            margin-right: 20px;
        }
        .notice-title1{
            font-size: 13px;
        }
    }
</style>


<body>
    <div class="toppage">
        <img src="{% static 'calendarapp/images/osirase_2.jpeg' %}" alt="トップ画像">
           <div class="text-overlay">
              お知らせ一覧
           </div>
    </div>
  
    <div class="directory_box">
        <a href="{% url 'home' %}" ><div class="directory_item">アキラ整体トップ</div></a>
        <img src="{% static 'calendarapp/images/arrow3.png' %}" alt="矢印" class="directory_img">
        <a href="{% url 'detail' %}" ><div class="directory_item">当院について</div></a>
        <img src="{% static 'calendarapp/images/arrow3.png' %}" alt="矢印" class="directory_img">
        <div class="directory_item1">お知らせ一覧</div>
    </div>

    <div class="space_detail"></div>



    <div class="notice-list">
        {% for notice in notices %}
        <div class="notice-item">
            <div class="notice-date">{{ notice.date|date:"Y/m/d" }}</div>
            <a href="{% url 'notice_detail' notice.pk %}">
                <div class="notice-title1">{{ notice.title }}</div>
            </a>
        </div>
        {% endfor %}
    </div>

</body>

{% endblock %}