{% extends 'base.html' %}

{% block title %}症状と施術内容{% endblock %}



{% block content %}
{% load static %}
<style>
   .treatment_container{ 
      width: 80%;
      display: flex;
      margin: auto;
      justify-content: center;
      background-color: #c8dfcd75;
      gap: 20px;
      padding:20px 0px 20px 0px;
   }
   .treatment_container_2{ 
      width: 80%;
      display: flex;
      margin: auto;
      justify-content: center;
      background-color: #c8dfcd75;
      gap: 20px;
      padding:0px 0px 20px 0px;
   }
   .treatment_container_1{ 
      width: 231px;
      height: 77;    
      display: flex; 
      border: solid 0px black; 
      background-color: white;
   }
   .treatment_container_1 img{
      width: 70px;
      justify-content: left;
   }
   .treatment_container_1_title{
      font-size: 22px;
      font-weight: bold;
      margin: auto;
   }
   .sentence{
      margin: 25px 0px;
      font-size: 20px;
      font-weight: bold;
      color: orange;
      text-align: center;
   }
   .treatment_container2{
      width: 80%;
      margin: auto;
   }
   .treatment_container2_1{
      width: 60%;
      font-size: 20px;
      background-color: rgb(240,240,240);
      padding: 5px;
      border-radius: 5px;
      margin-bottom: 10px;
      margin: auto;
      text-align: center;
   }
   .treatment_container2_1_img{
      display: block;
      width: auto;
      height: 21px;
      margin: 15px auto 15px auto;

   }
   .treatment_title{
      font-size: 22px;
      font-weight: bold;
   }

   
</style>
<body>
   <div class="toppage">
      <img src="{% static 'calendarapp/images/treatment.jpeg' %}" alt="トップ画像">
       <div class="text-overlay">
          症状と施術内容
       </div>
   </div>

   <div class="directory_box">
      <a href="{% url 'home' %}" ><div class="directory_item">アキラ整体トップ</div></a>
      <img src="{% static 'calendarapp/images/arrow3.png' %}" alt="矢印" class="directory_img">
      <div class="directory_item1">症状と施術内容</div>
   </div>



   <div class="heading">症状</div>
   <div class="treatment_container">
      <div class="treatment_container_1">
         <img src="{% static 'calendarapp/images/youtuu.png' %}" alt="腰痛" >
         <div class="treatment_container_1_title">腰痛</div>         
      </div><div class="treatment_container_1">
         <img src="{% static 'calendarapp/images/kata.png' %}" alt="肩こり" >
         <div class="treatment_container_1_title">肩・首</div>         
      </div>
      <div class="treatment_container_1">
         <img src="{% static 'calendarapp/images/jiritusinkei.png' %}" alt="自律神経" >
         <div class="treatment_container_1_title">自律神経症状</div>         
      </div>
      <div class="treatment_container_1">
         <img src="{% static 'calendarapp/images/zutuu.png' %}" alt="頭痛" >
         <div class="treatment_container_1_title">頭痛・めまい</div>         
      </div>      
   </div>
   <div class="treatment_container_2">
      <div class="treatment_container_1">
         <img src="{% static 'calendarapp/images/sango.png' %}" alt="産後" >
         <div class="treatment_container_1_title">産後</div>         
      </div><div class="treatment_container_1">
         <img src="{% static 'calendarapp/images/sisei.png' %}" alt="姿勢" >
         <div class="treatment_container_1_title">姿勢</div>         
      </div>
      <div class="treatment_container_1">
         <img src="{% static 'calendarapp/images/jiko.png' %}" alt="交通事故" >
         <div class="treatment_container_1_title">交通事故</div>         
      </div>
      <div class="treatment_container_1">
         <img src="{% static 'calendarapp/images/rihabiri.png' %}" alt="リハビリ" >
         <div class="treatment_container_1_title">手術前、後の</br>リハビリ</div>         
      </div>      
   </div>
   <div class="sentence">病院に行くほどではないが不調が続く方、疲れが取れない方の原因を一緒に探しています。</div>
   <div class="sentence">また、病院へ行こうとお考えの方は一度当院へお越しください。全力でサポートします！</div>

   <div class="heading">施術内容</div>
      <div class="treatment_container2_1">
         <span class="treatment_title">＜ カウンセリング ＞</span></br> 症状をカルテに入力
      </div>
      <div><img src="{% static 'calendarapp/images/arrow1.png' %}" alt="矢印" class="treatment_container2_1_img"></div>
      <div class="treatment_container2_1">
         <span class="treatment_title">＜ 検査 ＞</span></br> 実際に身体の反応を見て、治療方針を決定
      </div>
      <img src="{% static 'calendarapp/images/arrow1.png' %}" alt="矢印" class="treatment_container2_1_img">
      <div class="treatment_container2_1">
         <span class="treatment_title">＜ 施術 ＞</span></br> 治療方針のもと、施術します
      </div>
      <img src="{% static 'calendarapp/images/arrow1.png' %}" alt="矢印" class="treatment_container2_1_img">
      <div class="treatment_container2_1">
         <span class="treatment_title">＜ 施術後カウンセリング ＞</span></br> 状態に応じて、次回以降の相談をします
      </div>
</body>
{% endblock %}